[submodule "libImageCompare"]
	path = libImageCompare
	url = https://github.com/vancebs/libImageCompare.git
[submodule "libScreenshotter"]
	path = libScreenshotter
	url = https://github.com/vancebs/libScreenshotter.git
